<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileApp" />
    </root>
    <appender name="RollingFileApp" type="log4net.Appender.RollingFileAppender">
      <file value="logs/log_" />
      <appendToFile value="true" />
      <StaticLogFileName value="false" />
      <rollingStyle value="Date" />
      <lockingModel type="log4net.Appender.RollingFileAppender+MinimalLock" />
      <datePattern value="yyyyMMdd.'txt'" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- <conversionPattern value="%date [%t] - %message%newline" /> -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Customer.Username" value="guioverlay" />
    <add key="Customer.Password" value="guioverlay" />
    <add key="ProductQuery.Username" value="guioverlay" />
    <add key="ProductQuery.Password" value="guioverlay" />
    <add key="ProductCommand.Username" value="guioverlay" />
    <add key="ProductCommand.Password" value="guioverlay" />
    <add key="LoyaltyOnly.Hsd" value="Tier 1,Tier 2,Tier 3,Tier 4,Tier 5" />
    <add key="LoyaltyOnly.Cable" value="No Cable,Small,Medium,Large" />
    <add key="LoyaltyOnly.Phone" value="No Phone,Essential,Advanced/Smart Choice" />
    <add key="LoyaltyOnly.FiveYearDiscountAmts" value="$0,$5,$10,$15,$20,$25,$30,$35,$40,$45,$50" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>

    <customErrors mode="On">
      <error statusCode="404" redirect="~/Errors/HttpError404" />
    </customErrors>

  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICustomer">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IProductQuery" sendTimeout="00:00:05">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IProductCommand">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apiexternalqa.wideopenwest.com/Enterprise/CareQuery/Customer.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomer" contract="Customer.ICustomer" name="BasicHttpBinding_ICustomer" />
      <endpoint address="https://apiexternalqa.wideopenwest.com/Enterprise/WOWProduct/QA/ProductQuery/ProductQuery.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductQuery" contract="ProductQuery.IProductQuery" name="BasicHttpBinding_IProductQuery" />
      <endpoint address="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCommand" contract="ProductCommand.IProductCommand" name="BasicHttpBinding_IProductCommand" />
    </client>
  </system.serviceModel>

  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <httpErrors errorMode="Detailed" defaultResponseMode="Redirect">
      <clear />
      <error statusCode="404" path="/Errors/HttpError404" />
    </httpErrors>

  </system.webServer>
</configuration>
