@model WOW.SavesTool.WebApp.Models.CustomerModel

@{
    ViewBag.Title = "No Packages Found";
   
}

@{ Html.RenderPartial("CustomerDetails", Model); }

<div class="alert alert-danger">
    <h1>No Package Found </h1>
    Check the billing system and ensure the customer is packaged correctly. Please see a Supervisor if you have any questions.
    <div class="row">
        <div class="col-md-6 col-md-offset-11">
            <span class="btn-group">
                @Html.ActionLink("Ok", "Index", "Home", null, new {@class = "btn btn-default"})
            </span>
        </div>
    </div>
</div>
