<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICustomer">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IProductQuery">
                    <security mode="TransportWithMessageCredential" />
                </binding>
                <binding name="BasicHttpBinding_IProductCommand">
                    <security mode="TransportWithMessageCredential" />
                </binding>
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="https://apiexternalqa.wideopenwest.com/Enterprise/CareQuery/Customer.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomer"
          contract="Customer.ICustomer" name="BasicHttpBinding_ICustomer" />
        <endpoint address="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductQuery/ProductQuery.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductQuery"
          contract="ProductQuery.IProductQuery" name="BasicHttpBinding_IProductQuery" />
        <endpoint address="https://apiexternaldev.wideopenwest.com/Enterprise/WOWProduct/ProductCommand/ProductCommand.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductCommand"
          contract="ProductCommand.IProductCommand" name="BasicHttpBinding_IProductCommand" />
      </client>
    </system.serviceModel>
</configuration>