/*--- Body Font --*/
/*--- Heading Font --*/
@import url('https://fonts.googleapis.com/css?family=Hind');
@import url('https://fonts.googleapis.com/css?family=Nobile');

/*-- My latest CSS3 Mobile to Desktop responsive Parallax styles */
/*-- This is called a reset style and it is applied to the entire document--*/
/*-- It is attached to the <!DOCTYPE html> starting tag --*/
/*-- Removes all of the inherent spacing around entire document --*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #fff;
    font-family: 'Hind',sans-serif;
    font-size: 18px;
    position: relative;
}

h1 {
    font-family: 'Nobile',sans-serif;
    text-align: center;
    font-size: 175%;
    color: #4a4444;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0;
}


h3 {
    font-family: 'Nobile',sans-serif;
    text-align: center;
    color: #4a4444;
    text-transform: uppercase;
    letter-spacing: 1%;
}

.parallax-1 .exclusive-display span {
    width: 100%;
    font-size: 100%;
    font-family: 'Nobile',sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1%;
}

.alpine-banner-title {
    font-family: 'Nobile',sans-serif;
    text-align: center;
    font-size: 350%;
    font-weight: bold;
    color: #4a4444;
    text-transform: none;
    letter-spacing: 3px;
    padding: 3% 0,0;
}

.alpine-banner-description {
    font-family: 'Nobile',sans-serif;
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    color: #4a4444;
    text-transform: none;
    letter-spacing: 3px;
    padding-top: 0;
}

p {
    padding: 2%;
    color: #4a4444;
    text-align: justify;
    font-size: 155%;
}

img {
    max-width: 100%;
    height: auto;
}

#banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
/*-- Start Image Slider Style --*/
.slider {
    width: 100%;
}

.slider1 img {
    min-width: 100%;
    margin: 0 auto;
}

.slider1 {
    margin-bottom: 0;
}

.slider .bx-wrapper .bx-controls-direction a {
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 40%;
    height: 71px;
    width: 40px;
    z-index: -1;
    transition: all 0.7s;
}

.slider .bx-wrapper:hover .bx-controls-direction a {
    z-index: 5;
}

.slider .bx-wrapper .bx-prev {
    background: #000 url("img/left-arrow-white.png") no-repeat 8px 13px;
    left: 0px;
    opacity: 0.3;
}

    .slider .bx-wrapper .bx-prev:hover {
        opacity: 0.7;
    }

.slider .bx-wrapper .bx-next {
    background: #000 url("img/right-arrow-white.png") no-repeat 10px 12px;
    right: 0px;
    opacity: 0.3;
}

    .slider .bx-wrapper .bx-next:hover {
        opacity: 0.7;
    }
/*-- End Image Slider Style --*/

.one-half {
    width: 44%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
}

.one-third {
    width: 28%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
}

.exclusive-display {
    width: 50%;
    margin: 2% 0 3% 20%;
    padding: 3%;
    text-align: center;
}

    .exclusive-display h1, .exclusive-display p {
        color: #f1f1f1;
    }

.left-col {
    width: 60%;
    float: left;
    margin: 4% 0% 4% 4%;
}

.sidebar {
    width: 26%;
    float: right;
    margin: 4%;
}

    .sidebar img {
        opacity: 0.9;
    }

.clearfix {
    clear: both;
}

.parallax-1 {
    background: url(img/parallax.jpg) repeat fixed 100%;
}

parallax-inner {
    padding-top: 3%;
    padding-bottom: 3%;
}

.parallax-2 {
    background: url(img/parallax.jpg) repeat fixed 100%;
}

.parallax-1 .exclusive-display h1 {
    width: 100%;
    text-align: center;
}

.email {
    text-transform: lowercase;
    font-family: 'Nobile',sans-serif;
    text-align: center;
    color: #4a4444;
    letter-spacing: 1%;
}

.alpine-logo {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-- End Paralax Section --*/



/*-- Modal Contact --*/
#contactModal {
    top: 5%;
    outline: none;
}

.modal-title {
    color: #505E67;
}

.btn btn-success {
    color: #505E67;
}


footer {
    background-color: #505E67;
    width: 100%;
    margin-top: 5%;
    padding: 1% 0;
    overflow: auto;
}

.social {
    list-style-type: none;
    text-align: center;
}

    .social li {
        display: inline;
    }

    .social i {
        font-size: 460%;
        margin: 1%;
        padding: 5% 5% 5% 4%;
        color: #c3d7df;
    }

        .social i:hover {
            color: #f5f5f5;
        }

/*-- Start Media Queries --*/

@media screen and (max-width: 1100px) {
    .exclusive-display {
        width: 100%;
        margin: 4% 0;
    }
}

@media screen and (max-width: 823px) {

   

    .exclusive-display {
        width: 100%;
        margin: 4% 0;
    }

    .parallax-1 .exclusive-display h1 {
        width: 100%;
        text-align: center;
        font-size: 200%;
    }

    .parallax-1 .exclusive-display p {
        /*text-align: center;*/
        margin: 0;
        font-size: 120%;
    }

    .parallax-2 .exclusive-display h1 {
        width: 100%;
        text-align: center;
        font-size: 200%;
    }

    .parallax-2 .exclusive-display p {
        margin: 0;
        font-size: 120%;
    }
}

@media screen and (max-width: 768px) {

    p {
        padding: 2%;
        color: #4a4444;
        text-align: justify;
        font-size: 125%;
    }

    .email {
        text-transform: lowercase;
        font-family: 'Nobile',sans-serif;
        text-align: center;
        font-size: 90%;
        color: #4a4444;
        letter-spacing: 1%;
    }

    .alpine-banner-title {
        font-family: 'Nobile',sans-serif;
        text-align: center;
        font-size: 225%;
        font-weight: bold;
        color: #4a4444;
        text-transform: none;
        letter-spacing: 3px;
        padding: 3% 0,0;
    }

    .alpine-banner-description {
        font-family: 'Nobile',sans-serif;
        text-align: center;
        font-size: 125%;
        font-weight: bold;
        color: #4a4444;
        text-transform: none;
        letter-spacing: 3px;
        padding-top: 0;
    }

    /*.slide-wrap {
        margin-top: 40px;
    }*/

    .slider .bx-wrapper .bx-controls {
        display: none;
    }

    .slider1 img {
        max-width: 100%;
        min-width: 2%;
        margin: 0 auto;
    }

    .exclusive-display {
        width: 100%;
        margin: 4% 0;
    }

    .one-half {
        width: 100%;
        margin: 0 0 3% 0;
    }

    .one-third {
        width: 100%;
        margin: 4% 0;
    }

    h1 {
        font-size: 125%;
    }

    h2 {
        font-size: 115%;
    }

    h3 {
        padding-top: 3%;
    }

    .left-col {
        width: 100%;
        margin: 0 0 3% 0;
    }

    .sidebar {
        width: 100%;
        margin: 0;
    }

    .parallax-1 .exclusive-display h1 {
        width: 100%;
        text-align: center;
    }

    .parallax-1 .exclusive-display p {
        text-align: center;
        margin: 0;
    }

    .parallax-2 .exclusive-display h1 {
        width: 100%;
        text-align: center;
    }

    .parallax-2 .exclusive-display p {
        text-align: center;
        margin: 0;
    }

    #removable-image-1 {
        display: none;
    }

    #removable-image-2 {
        display: none;
    }
}

@media screen and (max-width: 480px) {

    .email {
        text-transform: lowercase;
        font-family: 'Nobile',sans-serif;
        text-align: center;
        font-size: 65%;
        color: #4a4444;
        letter-spacing: 1%;
    }

    h1 {
        font-size: 115%;
        width: 100%;
    }

    h2 {
        font-size: 100%;
    }

    h3 {
        font-size: 85%;
    }

    .slide-wrap {
        margin-top: 12px;
    }

    .parallax-1 .exclusive-display h1 {
        width: 100%;
        text-align: center;
    }

    .parallax-1 .exclusive-display p {
        text-align: center;
        margin: 0 4%;
    }

    .parallax-2 .exclusive-display h1 {
        width: 100%;
        text-align: center;
    }

    .parallax-2 .exclusive-display p {
        text-align: center;
        margin: 0 4%;
    }

    .well h3 {
        font-size: 135%;
    }

    .modal-title h3 {
        font-size: 150%;
    }

    .social i {
        font-size: 180%;
    }
}
