<div class="alert alert-danger">
    @ViewData["Description"] 
    <div class="row">
        <div class="col-md-6 col-md-offset-11">
            <span class="btn-group">
                @Html.ActionLink("Ok", "Index", "Home", null, new { @class = "btn btn-default" })
            </span>
        </div>
    </div>
</div>



