<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--Best Practices ::::: AppSettingsSecrets.config Should never be kept in project location or checked into source safe-->
    <!--<appSettings file="..\..\AppSettingsSecrets.config"/> This is an example of storing the file outside the 
        project directory so no chance of every being checked in-->
  
  
    <!--I placed file in project root just for demo perposes-->
    <appSettings file="AppSettingsSecrets.config">
      <add key="main" value="main"/>
    </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>