<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--In production I would base64 encrypt this as well-->
  <add key="encryptionPassword" value="T@c0T1me2328" />
</appSettings>
  <!--Best Practices ::::: AppSettingsSecrets.config Should never be kept in project location or checked into source safe-->
  <!--<appSettings file="..\..\AppSettingsSecrets.config"/> This is an example of storing the file outside the 
        project directory so no chance of every being checked in-->

  <!--I placed file in project root just for demo perposes-->

 
