<div class="modal fade" id="wow-etf-help-modal" tabindex="-1" role="dialog" aria-labelledby="wow-etf-help-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="wow-etf-help-modal-label">How ETF is Calculated</h4>
            </div>
            <div class="modal-body">
                <p class="help-block">
                    Contract ETF is based on $15/mo value for months 2-12, based on customer’s Annual
                    Term (ICOMS campaign, USHA discount) start date and desired disconnect/downgrade date.
                </p>
                <table class="table table-striped table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Cancellation Month</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>$0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>$165</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>$150</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>$135</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>$120</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>$105</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>$90</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>$75</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>$60</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>$45</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>$30</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>$15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>